.layout {
  padding: 40px;
}
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  display: flex;
  gap: 10px;
}
.todos {
  width: 135px;
  height: 140px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  border-radius: 5px;
}
